{% extends 'base.html' %}
{% load static %}
{% block contend %}




<!-- Error Section Start -->
<section class="error-section py-130 rpy-100">
    <div class="container">
        <div class="error-inner text-center wow fadeInUp delay-0-2s">
            <img src="assets/images/404.png" alt="Error">
            <div class="section-title mt-50 mb-40">
                <h2>OPPS! This Page Are Can’t Be Found</h2>
            </div>
            <a href="index.html" class="theme-btn style-two">goto home <i class="fas fa-arrow-right"></i></a>
        </div>
    </div>
</section>
<!-- Error Section End -->


{% endblock %}