{% extends 'base.html' %}
{% load static %}
{% block contend %}

<!-- Page Banner Start -->
<section class="page-banner-area rel z-1 text-white text-center"
    style="background-image: url(static/images/banner.jpg);">
    <div class="container">
        <div class="banner-inner rpt-10">
            <h2 class="page-title wow fadeInUp delay-0-2s">Become An Instructor</h2>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb wow fadeInUp delay-0-4s">
                    <li class="breadcrumb-item"><a href="{% url 'home' %}">home</a></li>
                    <li class="breadcrumb-item active">Become An Instructor</li>
                </ol>
            </nav>
        </div>
    </div>
    <img class="circle-one" src="{% static 'images/shapes/circle-one.png' %}" alt="Circle">
    <img class="circle-two" src="{% static 'images/shapes/circle-two.png' %}" alt="Circle">
</section>
<!-- Page Banner End -->


<!-- Join Our Team Start -->
<section class="join-our-team-area pt-120 rpt-90">
    <div class="container">
        <div class="row align-items-center large-gap">
            <div class="col-lg-6">
                <div class="join-our-team-content rmb-75 wow fadeInLeft delay-0-2s">
                    <div class="section-title mb-20">
                        <span class="sub-title-two">Join Our Team</span>
                        <h2>We’ve Experience Team Become an Instructor</h2>
                    </div>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantiu doloremque laudantium,
                        totam rem aperiam, eaque ipsa quae ab illo intore veritatis et quasi architecto beatae vitae
                        dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut</p>
                    <ul class="list-style-three pt-25 pb-20">
                        <li>
                            <div class="content">
                                <h5>Exclusive Coach</h5>
                                <p>Sit consectetur adipiscing eiuse tempor incides</p>
                            </div>
                        </li>
                        <li>
                            <div class="content">
                                <h5>Creative Minds</h5>
                                <p>Sit consectetur adipiscing eiuse tempor incides</p>
                            </div>
                        </li>
                    </ul>
                    <a href="become-instructor.html" class="theme-btn">become an instructor <i
                            class="fas fa-arrow-right"></i></a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="join-our-team-image-part pt-5 wow fadeInRight delay-0-2s">
                    <div class="image-one">
                        <img src="{% static 'images/instructor/join-team1.jpg' %}" alt="Join Our Team">
                    </div>
                    <div class="image-two">
                        <img src="{% static 'images/instructor/join-team2.jpg' %}" alt="Join Our Team">
                        <img src="{% static 'images/instructor/join-team3.jpg' %}" alt="Join Our Team">
                    </div>
                    <div class="years-of-experience">
                        <b>25</b>
                        <span>Years Of Experience</span>
                    </div>
                    <span class="bg-text">coach</span>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Join Our Team End -->


<!-- Benefit Work Process Start -->
<section class="benefit-work-process rel z-2 pt-120 rpt-90">
    <div class="container">
        <div class="section-title text-center mb-50">
            <span class="sub-title-two">How About Learn Us</span>
            <h2>Discover More Benefits</h2>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="bebefit-image rmb-75 wow fadeInRight delay-0-2s">
                    <img src="{% static 'images/about/benefit.jpg' %}" alt="Bebefit">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="bebefit-work-steps wow fadeInLeft delay-0-2s">
                    <div class="work-step-item">
                        <span class="number">01</span>
                        <div class="content">
                            <h4>Make a Decision</h4>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium</p>
                        </div>
                    </div>
                    <div class="work-step-item">
                        <span class="number">02</span>
                        <div class="content">
                            <h4>Schedule a Meeting</h4>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium</p>
                        </div>
                    </div>
                    <div class="work-step-item">
                        <span class="number">03</span>
                        <div class="content">
                            <h4>Decision Analysis</h4>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium</p>
                        </div>
                    </div>
                    <div class="work-step-item">
                        <span class="number">04</span>
                        <div class="content">
                            <h4>Transformation Completed</h4>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Benefit Work Process End -->


<!-- Counter Area Start -->
<div class="counter-area pt-130 rpt-100 pb-100 rpb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="counter-item wow fadeInUp delay-0-2s">
                    <div class="icon">
                        <img src="{% static 'images/counter/icon1.png' %}" alt="Icon">
                    </div>
                    <div class="success-item">
                        <span class="count-text plus" data-speed="3000" data-stop="2658">0</span>
                        <span>Enrolled Student</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="counter-item wow fadeInUp delay-0-4s">
                    <div class="icon">
                        <img src="{% static 'images/counter/icon2.png' %}" alt="Icon">
                    </div>
                    <div class="success-item">
                        <span class="count-text plus" data-speed="3000" data-stop="9862">0</span>
                        <span>Experts Advisors</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="counter-item wow fadeInUp delay-0-6s">
                    <div class="icon">
                        <img src="{% static 'images/counter/icon3.png' %}" alt="Icon">
                    </div>
                    <div class="success-item">
                        <span class="count-text plus" data-speed="3000" data-stop="785">0</span>
                        <span>Premium Lectures</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="counter-item wow fadeInUp delay-0-8s">
                    <div class="icon">
                        <img src="{% static 'images/counter/icon4.png' %}" alt="Icon">
                    </div>
                    <div class="success-item">
                        <span class="count-text plus" data-speed="3000" data-stop="4583">0</span>
                        <span>Global Students</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Counter Area End -->


<!-- Rules & Conditions Area Start -->
<section class="rules-condition-area pt-130 rpt-90">
    <div class="container">
        <div class="row align-items-center large-gap">
            <div class="col-lg-5">
                <div class="rules-condition-content rmb-50 wow fadeInLeft delay-0-2s">
                    <div class="section-title">
                        <span class="sub-title-two">Rule & Conditions</span>
                        <h2>How to Become a Our Pro Instructors</h2>
                    </div>
                    <ul class="list-style-three pt-10">
                        <li>
                            <div class="content">
                                <h5>Become an Instructor</h5>
                                <p>Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil
                                    molestiae consequatur</p>
                            </div>
                        </li>
                        <li>
                            <div class="content">
                                <h5>Instructor Rules</h5>
                                <p>Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil
                                    molestiae consequatur</p>
                            </div>
                        </li>
                        <li>
                            <div class="content">
                                <h5>Start With Courses</h5>
                                <p>Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil
                                    molestiae consequatur</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="rules-condition-image-part wow fadeInRight delay-0-2s">
                    <div class="row align-items-center">
                        <div class="col-7">
                            <img src="{% static 'images/about/rules-condition1.jpg' %}" alt="Rules">
                        </div>
                        <div class="col-5">
                            <img src="{% static 'images/about/rules-condition2.jpg' %}" alt="Rules">
                        </div>
                    </div>
                    <div class="logo">
                        <img src="{% static 'images/logos/logo.png' %}" alt="Logo">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Rules & Conditions Area End -->


<!-- Advertise Area Start -->
<section class="advertise-area pt-130 rpt-100 pb-100 rpb-60">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="advertise-item wow fadeInUp delay-0-2s">
                    <div class="content">
                        <h4>Become An Instructor?</h4>
                        <p>Sit amet consectetur adipiscing sed eiusmod tempore dolore magna suspendisse</p>
                        <a href="contact.html" class="theme-btn">Join with us <i class="fas fa-arrow-right"></i></a>
                    </div>
                    <div class="image">
                        <img src="{% static 'images/advertise/advertise1.png' %}" alt="Advertise">
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="advertise-item bg-two wow fadeInUp delay-0-4s">
                    <div class="content">
                        <h4>Get Online Courses</h4>
                        <p>Amet consectetur adipiscing sed eius tempore dolore magna suspens</p>
                        <a href="contact.html" class="theme-btn style-two">Join with us <i
                                class="fas fa-arrow-right"></i></a>
                    </div>
                    <div class="image">
                        <img src="{% static 'images/advertise/advertise2.png' %}" alt="Advertise">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Advertise Area End -->
{% endblock %}